# --- 系统与编辑器杂质 ---
.vscode/
.DS_Store
Thumbs.db
*.swp

# --- C/C++ 编译产物 ---
*.out
*.o
*.exe
*.bin

# --- Python 环境与缓存 ---
.venv/
env/
venv/
__pycache__/
*.py[cod]

# --- 临时测试文件 ---
sync_test.txt
temp/Homework_S1/env/
**/venv/
__pycache__/

# 忽略 Flutter 缓存和构建产物
**/.dart_tool/
**/build/
**/.idea/
**/.vscode/
**/*.iml

# 忽略安卓/iOS 的本地配置
**/android/.gradle/
**/ios/.generated/
**/ios/Pods/

# --- Flutter & Dart 深度清理 ---
.dart_tool/
.packages
.pub-cache/
.pub/
build/
**/build/
**/.dart_tool/

# 这里的 **/ 是灵魂，无论你把项目埋多深，它都能挖出来杀掉
**/.idea/
**/.vscode/
**/*.iml
**/android/.gradle/
**/ios/.generated/
**/ios/Pods/
**/ios/.symlinks/